<div class="form-container">
<h2>Convert Code to Image</h2>
    <form action="/htmlToImage" method="POST">
        <input type="text" name="code" placeholder="input code snippet">
        <input type="submit" value="Convert">
    </form>
</div>