<div class="form-container">
<h2>Convert HTML to PDF</h2>
    <form action="/htmlToPdf" method="POST">
        <input type="text" name="website" placeholder="website url">
        <input type="submit" value="Convert">
    </form>
</div>