<div class="form-container">
   <h2>Convert Web to PDF</h2>
  <form action="/webTopdf" method="POST">
    <input type="text" name="website" placeholder="website url">
    <input type="submit" class="convertBtn" value="convert">
 </form>
</div>